---
import type { Locale } from "../../i18n/config";
import { useTranslations } from "../../i18n/utils";

const t = useTranslations(Astro.currentLocale as Locale);
---

<ares-menu-toggle>
  <button
    type="button"
    aria-controls="main-menu"
    data-js="button"
    aria-expanded="false"
    aria-label={t("Labels.open-menu")}
    class="menu-toggle-btn"
  >
    <span class="icon-hamburger">
      <span class="icon-hamburger__line"></span>
      <span class="icon-hamburger__line"></span>
      <span class="icon-hamburger__line"></span>
    </span>
  </button>
</ares-menu-toggle>
