.footer {
  background-color: var(--bg-color-footer);
  padding: 1rem;
}

.footer__content {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.footer__developed {
  align-items: center;
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.footer__icon {
  color: var(--text-color);
  display: block;
  width: 1.25rem;
}

.footer__text {
  color: var(--text-color);
  font-size: 1.125rem;
}

.footer__menu {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.footer__menu__link {
  background-color: transparent;
  border: 0;
  color: var(--text-color);
  display: block;
  font-size: 2rem;
  padding: 0;
  text-decoration: none;
  transition: color .3s;
}

.footer__menu__link:hover {
  color: var(--accent-color);
}

.footer__menu__icon {
  display: block;
  height: 2rem;
}

@media (width < 576px) {
  .footer__content {
    justify-content: center;
  }

  .footer__developed {
    display: none;
  }
}