.language-button {
  background-color: transparent;
  border: 0;
  font-size: 2.25rem;
  color: #fff;
}

#dropdown-lang {
  width: 145px;
  left: auto;
  right: 0;
  top: 60px;
  padding-bottom: 5px;
}