.language-button {
  background-color: transparent;
  border: 0;
  color: var(--color-text);
  font-size: 2.25rem;
  transition: color .3s;
}

.language-button:hover {
  color: var(--color-accent);
}

#dropdown-lang {
  left: auto;
  right: 0;
  top: 60px;
  width: 150px;
}