.next-btn {
  background-color: transparent;
  border: 0;
  bottom: 1rem;
  color: var(--color-text);
  cursor: pointer;
  font-size: 2.5rem;
  position: absolute;
  animation: jump 1.25s ease-in-out infinite;
}

.next-btn:hover {
  animation-play-state: paused;
}

@media (prefers-reduced-motion) {
  .next-btn {
    animation: none;
  }
}
