.carousel {
  align-items: center;
  display: flex;
  justify-content: center;
}

.carousel__frame-container {
  position: relative;
}

.carousel__frame-container::before,
.carousel__frame-container::after {
  background-color: #eae7dc;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 70px;
  z-index: 1;
}

.carousel__frame-container::before {
  left: 0;
}

.carousel__frame-container::after {
  right: 0;
}

.carousel__frame {
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.carousel__arrow {
  background-color: transparent;
  border: 0;
  bottom: 2rem;
  color: var(--text-color);
  font-size: 2rem;
  position: absolute;
  top: 0;
  z-index: 10;
}

.carousel__arrow-left {
  left: -3rem;
}

.carousel__arrow-right {
  right: -3rem;
}

.embla {
  overflow: hidden;
}

.carousel .embla {
  inset: 0;
  overflow: hidden;
  position: absolute;
  top: 22px;
}

.embla__container {
  display: flex;
}

.embla__slide {
  align-items: center;
  display: flex;
  flex: 0 0 100%;
  height: 100%;
  justify-content: center;
  min-width: 0;
}