.project {
  background-color: transparent;
  border: 0;
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  padding: 0;
}

.project__title {
  font-size: 2rem;
  margin-bottom: 0;
  text-align: center;
}

/* Projects carousel */

.project__carousel {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  overflow: hidden;
  position: relative;
}

.project__carousel__arrow {
  background-color: transparent;
  border: 0;
  bottom: 0;
  color: var(--color-text);
  filter: drop-shadow(0 0 3px #000);
  font-size: 2rem;
  padding: 0 2rem;
  position: absolute;
  top: 0;
  z-index: 10;
}

.project__carousel__arrow--left {
  left: 0;
}

.project__carousel__arrow--right {
  right: 0;
}

.project__carousel--mobile .project__img {
  max-width: 300px;
  width: 100%;
}

.projects__slide {
  flex: 0 0 28%;
  margin: 0 .5rem;
}

.project__carousel--mobile .projects__slide {
  flex: 0 0 25%;
}

/* Project modal */

.project__paragraph {
  color: var(--color-text);
  margin: 2rem auto;
  max-width: 750px;
}

.project__tech-title {
  font-family: var(--font-texts);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.project__technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project__links {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 500px;
}

.project__btn {
  align-items: center;
  display: flex;
  gap: .5rem;
  justify-content: center;
  width: 100%;
}

.project__btn .small {
  font-size: 1.1rem;
}

@media (width < 1100px) {
  .projects__slide {
    flex: 0 0 40%;
  }
}

@media (width < 768px) {
  .projects__slide {
    flex: 0 0 50%;
  }

  .projects {
    padding: 2rem 0;
  }

  .project__links {
    flex-direction: column;
  }

  .projects .section-title {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;
  }

  .project__carousel__arrow--left {
    left: -2rem;
  }

  .project__carousel__arrow--right {
    right: -2rem;
  }
}