.theme-switch {
  background-color: var(--color-text-dark);
  border: 0;
  border-radius: 30px;
  color: var(--color-text-dark);
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
  line-height: 1;
  padding: .5rem 1rem;
  position: relative;
}

.theme-switch__indicator {
  background-color: var(--color-text);
  border-radius: 50%;
  height: 2rem;
  left: 0;
  position: absolute;
  top: .25rem;
  transition: all .5s;
  width: 2rem;
}

.theme-switch__indicator.right {
  transform: translateX(2.9rem);
}

.theme-switch__indicator.left {
  transform: translateX(.7rem);
}

.theme-switch__icon {
  position: relative;
  z-index: 1;
}