<ares-loader class="loader" aria-hidden="true">
  <span class="loader-message" role="alert" data-js="message"></span>
  <div class="spinner" role="status">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ares-loader>
