# Cloudflare Turnstile
CAPTCHA_SECRET_KEY=1x0000000000000000000000000000000AA
PUBLIC_CAPTCHA_SITE_KEY=1x00000000000000000000AA
CAPTCHA_URL="https://challenges.cloudflare.com/turnstile/v0/siteverify"

# Google Tag Manager
PUBLIC_GTM_ID="GTM-WFGFHHZW"

# SMTP credentials
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=you@example.com
SMTP_PASSWORD=your_smtp_password

# Email addressing
MAIL_FROM_ADDRESS=you@example.com
MAIL_FROM_NAME="Ares.uy"
MAIL_TO_ADDRESS=inbox@example.com
MAIL_SUBJECT="Contact | Ares.uy"

APP_ENV=development
