---
import type { Locale } from "../../i18n/config";
import { useTranslations, type TranslationKey } from "../../i18n/utils";

import ThemeSwitch from "../ThemeSwitch/ThemeSwitch.astro";

const t = useTranslations(Astro.currentLocale as Locale);
const links: { label: TranslationKey; target: string }[] = [
  { label: "Sections.About.title", target: "#about" },
  { label: "Labels.projects", target: "#projects" },
  { label: "Sections.Technologies.title", target: "#technologies" },
  { label: "Sections.Contact.title", target: "#contact" },
];
---

<ares-menu class="menu-wrapper">
  <nav id="main-menu" class="menu" data-js="nav" aria-label={t("Labels.menu")}>
    <ul class="menu__content">
      {
        links.map((link) => {
          return (
            <li>
              <a href={link.target} class="menu__link" data-js="nav-link">
                {t(link.label)}
              </a>
            </li>
          );
        })
      }
      <li>
        <ThemeSwitch />
      </li>
    </ul>
  </nav>
</ares-menu>

<style>
  .menu-wrapper {
    position: relative;
  }

  .menu {
    left: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 100%;
    z-index: 9999;
  }

  .menu.show {
    visibility: visible;
  }

  .menu__content {
    align-items: center;
    background: var(--bg-color-menu);
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    left: 0;
    margin-left: 0;
    padding: 2rem;
    position: static;
    top: 0;
    transform: translateY(-100%);
    transition: all 0.5s;
    width: 100%;
  }

  .menu.show .menu__content {
    transform: translateY(0);
  }

  .menu__link {
    font-size: 1.5rem;
    text-decoration: none;
  }

  .menu__link:hover {
    text-decoration: none;
  }

  @media (prefers-reduced-motion) {
    .menu__content {
      transition: none;
    }
  }
</style>
