.about {
  align-items: center;
  background-color: var(--bg-color-about);
  display: flex;
  min-height: 100%;
  justify-content: center;
  position: relative;
  padding-bottom: 6rem;
}

.about__content {
  display: grid;
  gap: 2rem;
  grid-template-areas: "first title" "image text";
}

.about__title {
  grid-area: title;
  margin-bottom: 0;
}

.about__img {
  grid-area: image;
  margin: 0 auto;
  width: 500px;
}

.about__paragraph {
  grid-area: text;
  font-size: 1.45rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 57rem;
  line-height: 1.5;
}

.about__btns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.about__btn {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1300px) {
  .about__content {
    grid-template-areas: "title title" "image image" "text text";
  }

  .about__img {
    width: 400px;
  }
}

@media screen and (max-width: 576px) {
  /* .about__paragraph {
    font-size: 1.25rem;
  }
  
  .about__btns {
    flex-direction: column;
    align-items: center;
  } */
}