.contact-section {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--bg-color-contact);
  min-height: 100%;
  flex-direction: column;
}

.contact-content {
  width: 100%;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 1000px;
  padding: 2rem;
  margin: 0 auto;
}

.contact__form .btn {
  margin-left: auto;
}

.input-field-row label {
  margin-bottom: 10px;
  display: block;
  font-size: 1.25rem;
}

input,
select,
textarea {
  font-family: var(--font-nunito);
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  resize: none;
  font-size: 1.25rem;
  line-height: 1.3;
  background: #f1f2f6;
  border: 1px solid transparent;
  transition: border .3s;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid #a1a9c3;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  opacity: .67
}

input:hover,
select:hover,
textarea:hover {
  border: 1px solid #a1a9c3;
}

.invalid-feedback {
  color: #FF9496;
  font-size: 1rem;
  display: none;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}
.was-validated *:invalid + .invalid-feedback,
.was-validated .invalid-feedback.show,
.was-validated *[aria-invalid="true"] + .invalid-feedback {
  opacity: 1;
  display: block;
  visibility: visible;
  max-height: unset;
}

@media (prefers-reduced-motion) {
  input,
  select,
  textarea {
    transition: none;
  }
}