.intro-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  overflow: auto;
  position: relative;
  z-index: 10;
}

.intro-content .section-title {
  color: #fff;
  margin: 0;
  line-height: 2.5rem;
}

.intro-name {
  font-size: 5rem;
}

.intro-subtitle {
  font-size: 2rem;
  font-style: italic;
}

@media (max-width: 450px) {
  .intro-name {
    font-size: 3.5rem;
  }

  .intro-content .section-title {
    line-height: 2rem;
  }

  .intro-subtitle {
    font-size: 1.5rem;
  }
}