.projects {
  background-color: var(--bg-color-projects);
  padding: 2rem 0;
}

.projects__title-wrapper {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.projects__title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
}

.projects__content {
  height: 100%;
}