.tech {
  color: #fff;
  background-color: var(--bg-color-technologies);
}

.tech__category {
  margin-bottom: 4rem;
}

.tech__category__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.tech__category__list {
  font-size: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.tech__contact {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .tech__category__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .tech__category__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .tech__category__list {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .tech .section-title {
    font-size: 2.5rem;
  }

  .tech__category__title {
    font-size: 2rem;
  }

  .project__carousel-wrapper {
    margin-bottom: 2rem;
  }
}