* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  font-family: var(--font-texts);
  font-size: 1.4rem;
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

section {
  padding: 2rem 1rem;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-title);
  font-family: var(--font-titles);
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: var(--color-text);
  transition: color .3s;
}

a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden-focusable:not(:focus):not(:focus-within),
.visually-hidden {
  border: 0 !important;
  clip: rect(0,0,0,0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption),
.visually-hidden:not(caption) {
  position: absolute !important;
}

.btn {
  background-color: var(--bg-color-button);
  border: 0;
  border-radius: 1.5rem;
  box-shadow: 0 1px 2px rgba(166 175 195 / 25%);
  color: var(--color-text-dark);
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-decoration: none;
  transition: all .5s;
}

.btn:hover {
  background-color: var(--bg-color-hover-button);
  color: var(--color-text-dark);
  text-decoration: none;
}

.main {
  overflow: auto;
}

.section-title {
  font-size: 3.5rem;
  line-height: 1;
  margin: 0 auto;
  margin-bottom: 4rem;
  text-align: center;
}

.max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

@media (width < 576px) {
  body {
    font-size: 1.25rem;
  }

  .section-title {
    font-size: 3rem;
  }
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }

  a,
  .btn {
    transition: none;
  }
}