---
import { Cookie } from "@lucide/astro";

import { useTranslations } from "../../i18n/utils";
import type { Locale } from "../../i18n/config";

const t = useTranslations(Astro.currentLocale as Locale);
---

<ares-cookies-button>
  <button
    type="button"
    class="footer__menu__link"
    aria-label={t("Labels.cookie-settings")}
    data-js="button"
  >
    <Cookie class="footer__menu__icon" />
  </button>
</ares-cookies-button>
