---
import { useTranslations } from "../i18n/utils";
import type { Locale } from "../i18n/config";

import LangMenu from "./LangMenu/LangMenu.astro";
import Avatar from "./Avatar/Avatar.astro";
import MenuToggle from "./MenuToggle/MenuToggle.astro";

const t = useTranslations(Astro.currentLocale as Locale);
---

<header class="header">
  <nav class="navbar max-width">
    <a class="skip-main visually-hidden-focusable" href="#main">
      {t("Labels.skip-to-content")}
    </a>
    <div class="navbar__content">
      <Avatar />
      <div class="navbar__content__right">
        <LangMenu />
        <MenuToggle />
      </div>
    </div>
  </nav>
</header>

<style>
  .header {
    background-color: var(--bg-color-header);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 99;
  }

  .navbar__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .navbar__content__right {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .skip-main {
    background-color: var(--bg-color-button);
    border-bottom-right-radius: 55px;
    font-size: 1.2rem;
    font-weight: bold;
    left: 0;
    padding: 10px 30px;
    padding-left: 20px;
    position: absolute;
    text-decoration: none;
    top: 0;
    transition: background-color 0.5s;
  }

  .skip-main:hover {
    background-color: var(--bg-color-hover-button);
    color: inherit;
    text-decoration: none;
  }
</style>
