---
import { Image } from "astro:assets";

import { Download, Mail } from "@lucide/astro";

import type { Locale } from "../i18n/config";
import { useTranslations } from "../i18n/utils";

import NextButton from "../components/NextButton/NextButton.astro";

import aboutImg from "../assets/about.jpg";

const t = useTranslations(Astro.currentLocale as Locale);
---

<section id="about" class="about">
  <div class="about__content">
    <h2 class="section-title about__title">
      {t("Sections.About.title")}
    </h2>
    <Image class="about__img" src={aboutImg} alt="" width={500} height={500} />
    <div class="about__paragraphs">
      <div set:html={t("Sections.About.content")} />
      <div class="about__btns">
        <button type="button" class="btn about__btn" onClick={}>
          <Download />
          {t("Labels.download-cv")}
        </button>
        <a href="#contact" class="btn about__btn" onClick={}>
          <Mail />
          {t("Labels.contact-me")}
        </a>
      </div>
    </div>
  </div>
  <NextButton target="#projects" />
</section>
