---
import { Image } from "astro:assets";

import { Mail } from "@lucide/astro";

import type { Locale } from "../i18n/config";
import { useTranslations } from "../i18n/utils";

import NextButton from "../components/NextButton/NextButton.astro";
import ContactButton from "../components/ContactButton/ContactButton.astro";
import CVButton from "../components/CVButton/CVButton.astro";

import aboutImg from "../assets/about.jpg";

const t = useTranslations(Astro.currentLocale as Locale);
---

<section id="about" class="about">
  <div class="about__content">
    <h2 class="section-title about__title">
      {t("Sections.About.title")}
    </h2>
    <Image class="about__img" src={aboutImg} alt="" width={500} height={500} />
    <div class="about__paragraphs">
      <div set:html={t("Sections.About.content")} />
      <div class="about__btns">
        <CVButton />
        <ContactButton>
          <span class="btn about__btn">
            <Mail />
            {t("Labels.contact-me")}
          </span>
        </ContactButton>
      </div>
    </div>
  </div>
  <NextButton target="#projects" />
</section>

<style>
  .about {
    align-items: center;
    background-color: var(--bg-color-about);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding-bottom: 6rem;
    position: relative;
  }

  .about__content {
    display: grid;
    gap: 2rem;
    grid-template-areas: "void title" "image text";
  }

  .about__title {
    grid-area: title;
    margin-bottom: 0;
  }

  .about__img {
    grid-area: image;
    margin: 0 auto;
  }

  .about__paragraphs {
    display: flex;
    flex-direction: column;
    grid-area: text;
    margin: 0 auto;
    max-width: 58rem;
  }

  .about__paragraphs p {
    margin-bottom: 1rem;
  }

  .about__btns {
    display: flex;
    gap: 2rem;
    grid-area: buttons;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: auto;
  }

  .about__btn {
    display: flex;
    gap: 1rem;
  }

  @media (width < 1300px) {
    .about__content {
      grid-template-areas: "title" "image" "text";
    }

    .about__btns {
      margin-top: 2rem;
    }

    .about__img {
      width: 400px;
    }
  }

  @media (width < 576px) {
    .about__btns {
      align-items: center;
      flex-direction: column;
    }

    .about__btn {
      justify-content: center;
      width: 100%;
    }
  }
</style>
