---
import ContactForm from "../components/ContactForm/ContactForm.astro";
import type { Locale } from "../i18n/config";
import { useTranslations } from "../i18n/utils";

const t = useTranslations(Astro.currentLocale as Locale);
---

<section id="contact" class="contact" tabindex="-1">
  <div class="max-width contact__content">
    <h2 class="section-title">
      {t("Sections.Contact.title")}
    </h2>
    <p class="contact__intro">
      {t("Sections.Contact.intro")}
    </p>
    <ContactForm />
  </div>
</section>

<style>
  .contact {
    align-items: center;
    background-color: var(--bg-color-contact);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  }

  .contact .section-title {
    margin-bottom: 1rem;
  }

  .contact__intro {
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 750px;
  }
</style>
