---
import BackgroundImage from "../components/BackgroundImage/BackgroundImage.astro";
import NextButton from "../components/NextButton/NextButton.astro";
---

<BackgroundImage>
  <div id="intro" class="max-width intro">
    <h1 class="intro__title">
      <span class="intro__title__first-line">Ares</span><br />
      <b class="intro__title__second-line">Software Development</b>
    </h1>
    <NextButton target="#about" />
  </div>
</BackgroundImage>
