---
import BackgroundImage from "../components/BackgroundImage/BackgroundImage.astro";
import NextButton from "../components/NextButton/NextButton.astro";
---

<BackgroundImage>
  <div id="intro" class="max-width intro">
    <h1 class="intro__title">
      <span class="intro__title__first-line">Ares</span><br />
      <b class="intro__title__second-line">Software Development</b>
    </h1>
    <NextButton target="#about" />
  </div>
</BackgroundImage>

<style is:global>
  .intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    overflow: auto;
    position: relative;
    z-index: 1;
  }

  .intro__title {
    color: #fff;
    line-height: 2.5rem;
    margin: 0;
  }

  .intro__title__first-line {
    font-size: 5rem;
  }

  .intro__title__second-line {
    font-size: 2rem;
    font-style: italic;
    padding: 0 0.25rem;
  }

  .theme-light .intro .scroll-down {
    color: var(--color-text-dark);
  }

  @media (width < 450px) {
    .intro__title {
      line-height: 2rem;
    }

    .intro__title__first-line {
      font-size: 3.5rem;
    }

    .intro__title__second-line {
      font-size: 1.5rem;
    }
  }
</style>
