---
import { Mail } from "@lucide/astro";

import { clientProjects, personalProjects } from "../constants/projects";

import type { Locale } from "../i18n/config";
import { useTranslations } from "../i18n/utils";

import ProjectsList from "../components/ProjectsList/ProjectsList.astro";

const t = useTranslations(Astro.currentLocale as Locale);
---

<section id="projects" class="projects">
  <h2 class="section-title">{t("Sections.Projects.title")}</h2>
  <p class="projects__intro">{t("Sections.Projects.intro")}</p>
  <div class="projects__content">
    <ProjectsList
      id="projects-personal"
      title={t("Sections.Projects.personal-projects.title")}
      intro={t("Sections.Projects.personal-projects.intro")}
      projects={personalProjects}
    />
    <ProjectsList
      id="projects-client"
      title={t("Sections.Projects.client-projects.title")}
      intro={t("Sections.Projects.client-projects.intro")}
      projects={clientProjects}
    />
  </div>
  <div class="projects__contact">
    <button type="button" class="btn projects__btn" onClick={}>
      <Mail />
      {t("Labels.contact-me")}
    </button>
  </div>
</section>
