---
import { Image } from "astro:assets";

import { useTranslations } from "../../i18n/utils";
import type { Locale } from "../../i18n/config";

import headerImg from "../../assets/header.jpg";

const t = useTranslations(Astro.currentLocale as Locale);
---

<ares-avatar>
  <button
    type="button"
    class="avatar"
    title={t("Labels.change-background")}
    data-js="button"
  >
    <Image class="avatar__img" src={headerImg} alt="" height={48} width={48} />
  </button>
</ares-avatar>

<style>
  .avatar {
    background-color: transparent;
    border: 0;
    padding: 0;
  }

  .avatar__img {
    border-radius: 50%;
    display: block;
    width: 3rem;
  }
</style>
