---
import { Image } from "astro:assets";

import { useTranslations } from "../../i18n/utils";
import type { Locale } from "../../i18n/config";

import meImg from "../../assets/me.jpg";

const t = useTranslations(Astro.currentLocale as Locale);
---

<ares-avatar>
  <button
    type="button"
    class="navbar__btn"
    title={t("Labels.change-background")}
    data-js="button"
  >
    <Image class="navbar__img" src={meImg} alt="" height={48} width={48} />
  </button>
</ares-avatar>
